<div fxFlexLayout="column">
    <h1 mat-dialog-title *ngIf="data.editar==true">Editar Entidad</h1>
    <h1 mat-dialog-title *ngIf="data.editar==false">Nueva Entidad</h1>
    <div mat-dialog-content>
        <!--Título-->
      <mat-form-field>
        <input matInput [(ngModel)]="entidadDto.nombre" placeholder="nombre" required>
      </mat-form-field>
      <!--Provincia-->
      <mat-form-field>
        <input matInput [(ngModel)]="entidadDto.provincia" placeholder="provincia" required>
      </mat-form-field>
      <!--Localidad-->
      <mat-form-field>
        <input matInput [(ngModel)]="entidadDto.localidad" placeholder="localidad" required>
      </mat-form-field>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="guardarEntidad()" cdkFocusInitial>Guardar</button>
    </div>
    </div>