<div fxLayout="column">
    <div class="opcionesOrdenar">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button (click)="loadCajas()" value="1" checked>Entidad</mat-radio-button>
            <mat-radio-button (click)="loadCajasOrderByProducto()" value="2">Producto</mat-radio-button>
            <mat-radio-button (click)="loadCajasOrderByKg()" value="3">Kg</mat-radio-button>
        </mat-radio-group>
        <br>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex="100%">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="numIdentificacion">
            <th mat-header-cell *matHeaderCellDef> Nº identifación </th>
            <td mat-cell *matCellDef="let element"> {{element.data.numIdentificacion}} </td>
        </ng-container>

        <!-- Producto Column -->
        <ng-container matColumnDef="nomProducto">
            <th mat-header-cell *matHeaderCellDef> Producto </th>
            <td mat-cell *matCellDef="let element"> {{element.data.nombre_producto}} </td>
        </ng-container>


        <!-- provincia Column -->
        <ng-container matColumnDef="kg">
            <th mat-header-cell *matHeaderCellDef> Kg </th>
            <td mat-cell *matCellDef="let element"> {{element.data.kg}} </td>
        </ng-container>

        <!-- Entidad Column -->
        <ng-container matColumnDef="nomEntidad">
            <th mat-header-cell *matHeaderCellDef> Entidad </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="entidad">
                    <mat-chip
                        [ngStyle]="{'background-color': element.data.nombre_entidad === 'Sin asignar' ? 'red' : 'green' }"
                        class="entidad">
                        {{element.data.nombre_entidad}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Editar producto" (click)="dialogEditarCaja(element.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Borrar producto" (click)="eliminarCaja(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

<button mat-fab color="warn" class="mat-fab-bottom-right" (click)="dialogNuevaCaja()" style="z-index: 9;">
    <mat-icon class="mat-24">add</mat-icon>
</button>