<mat-toolbar class="main-header">
  <button (click)="toggleSidenav.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
    <div class="logo"></div>
  </div>
  <div class="search-bar" fxFlex>
    <form class="search-form" [ngStyle.xs]="{display: 'none'}">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search" autofocus="true" />
    </form>
  </div>
  <button (click)="fullScreenToggle()" mat-icon-button>
    <mat-icon>fullscreen</mat-icon>
  </button>
  <button (click)="toggleNotificationSidenav.emit()" mat-icon-button class="ml-xs overflow-visible">
    <mat-icon>notifications</mat-icon>
  </button>
  <button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
    <img *ngIf="photoUsuarioLogueado!=null" [src]="photoUsuarioLogueado" width="32px" />
    <mat-icon *ngIf="photoUsuarioLogueado==null">person</mat-icon>
  </button>
  <mat-menu #user="matMenu" x-position="before">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
    <button mat-menu-item *ngIf="photoUsuarioLogueado==null"  [routerLink]="[ '/session/signin' ]">
      <mat-icon>exit_to_app</mat-icon>
      Sign Sign
    </button>
  </mat-menu>
</mat-toolbar>
