<div fxLayout="column">
    <div class="opcionesOrdenar">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button (click)="loadProductos()" value="1" checked>Producto</mat-radio-button>
          <mat-radio-button (click)="loadProductosBynumIdentificacion()" value="2">Nº Identificacion</mat-radio-button>
          <!--<mat-radio-button (click)="loadProductosByKgProductos()" value="3">Kg</mat-radio-button>-->
        </mat-radio-group>
        <br>
      </div>
      
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex="100%">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Nº Column -->
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef> Nº Identificacion </th>
      <td mat-cell *matCellDef="let element"> {{element.data.numIdentificacion}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.data.nombre}} </td>
    </ng-container>

    <!-- kg Column -->
    <ng-container matColumnDef="kg">
      <th mat-header-cell *matHeaderCellDef> Kg </th>
      <td mat-cell *matCellDef="let element"> {{element.data.kg_totales}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Editar producto" (click)="dialogEditarProducto(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Borrar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Borrar producto" (click)="eliminarProducto(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

<button [routerLink]="[ '/informe-productos/grafica']" mat-icon-button class="ml-xs">
  <mat-icon>timeline</mat-icon>
</button>

<button mat-fab color="warn" class="mat-fab-bottom-right" (click)="dialogNuevoProducto()" style="z-index: 9;">
  <mat-icon class="mat-24">add</mat-icon>
</button>