<div fxFlexLayout="column">
    <h1 mat-dialog-title *ngIf="data.editar==true">Editar Caja</h1>
    <h1 mat-dialog-title *ngIf="data.editar==false">Nueva Caja</h1>
    <div mat-dialog-content>
        <!--Número-->
        <mat-form-field>
            <mat-label>Nº identificación</mat-label>
            <input matInput type="number"  min="1" [(ngModel)]="cajaDto.numIdentificacion" placeholder="32" required>
        </mat-form-field>

        <!--Producto-->
        <mat-form-field>
            <mat-label>Producto</mat-label>
            <mat-select [(ngModel)]="productoSeleccionado" #producto="ngModel" required>
                <mat-option *ngFor="let producto of listaProductos" [value]="producto">
                    {{producto.data.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!--kg-->
        <mat-form-field>
            <mat-label>Kilos</mat-label>
            <input matInput type="number" [(ngModel)]="cajaDto.kg" placeholder="kg" min="1" required>
        </mat-form-field>

        <!--Entidad-->
        <mat-form-field *ngIf="data.editar==true">
            <mat-label>Entidad</mat-label>
            <mat-select [(ngModel)]="entidadSeleccionada" #entidad="ngModel" required>
                <mat-option *ngFor="let entidad of listaEntidades" [value]="entidad">
                    {{entidad.data.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cerrar()">Cancelar</button>
        <button mat-button (click)="guardarCaja()" cdkFocusInitial>Guardar</button>
    </div>
</div>