<div fxFlexLayout="column">
    <h1 mat-dialog-title *ngIf="data.editar==true">Editar Producto</h1>
    <h1 mat-dialog-title *ngIf="data.editar==false">Nuevo Producto</h1>
    <div mat-dialog-content>
        <!--Título-->
      <mat-form-field>
        <input matInput [(ngModel)]="productoDto.nombre" placeholder="nombre" required>
      </mat-form-field>
      <!--Descripción-->
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="productoDto.numIdentificacion" placeholder="nº identificación" min="1" required>
      </mat-form-field>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="guardarProducto()" cdkFocusInitial>Guardar</button>
    </div>
    </div>